@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
